.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: Poppins, sans-serif;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #fff;
}

.heading {
  animation: pulsate 0.5s ease-in-out infinite alternate;    
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #aaa,
      0 0 11px #aaa,
      0 0 19px #aaa,
      0 0 40px #666,
      0 0 80px #666,
      0 0 90px #666,
      0 0 100px #666,
      0 0 150px #666;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #aaa,
      0 0 10px #aaa,
      0 0 18px #aaa,
      0 0 38px #666,
      0 0 73px #666,
      0 0 80px #666,
      0 0 94px #666,
      0 0 140px #666;
  }
}

.prayers {
  list-style: none;
  font-weight: bold;
  color:#aaaaaa;
  width: 100%;
  max-width: 20rem;
}

.prayers > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  background-color: #111111;
  border-radius: 0.5rem;
}